<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content= "width=device-width, initial-scale=1">
  <title>Bay State Radio: {{ title }}</title>
  <link rel="shortcut icon" type="image/png" href="/favicon.png">
  <link href="/css/style.css" rel="stylesheet">
</head>
<body>
  <header>
    <div class="hero{% if page.url != "/" %} hero--small{% endif %}">
      <img src="/assets/bsr-logo-medium.png" alt="Bay State Radio logo" class="noprint hero-logo">
      <h1>Bay State Radio</h1>
    </div>
    <nav>
      <ul>
        {% assign weighted_pages = collections.page | sort: 'data.weight' %}
        {%- for navPage in weighted_pages -%}
          <li><a href="{{ navPage.url }}"{% if navPage.url == page.url %} aria-current="page"{% endif %}>{{ navPage.data.linkName | default: navPage.data.title }}</a></li>
        {%- endfor -%}
      </ul>
    </nav>
  </header>
  <main>
{% if page.url != "/" %}
    <h1>{{ title }}</h1>
{% endif %}
    {{ content }}
  </main>
  <footer>
    Copyright © {% year %} Bay State Radio Maintainers <span class="noprint">|
    <a href="{{ repository.url }}/blob/{{ repository.ref }}/{{ page.inputPath }}?plain=1">View page source</a> |
    <a href="{{ repository.url }}/edit/{{ repository.ref }}/{{ page.inputPath }}">Suggest changes</a></nospan>
  </footer>
</body>
</html>
