---
layout: base.liquid
---
<div class="home-layout">
  <div class="home-content">{{ content }}</div>
  <aside class="sidebar">
    <section class="latest-news">
      <h2>Latest News</h2>
      {% assign latest = collections.post | reverse | first %}
      {% if latest %}
      <article>
        <header>
          <h3><a href="{{ latest.url }}">{{ latest.data.title }}</a></h3>
          <p class="byline">by {{ latest.data.author }} at <time datetime="{{ latest.date | date: "%Y-%m-%d" }}">{{ latest.date | date: "%Y-%m-%d" }}</time></p>
        </header>

{% if latest.data.page.excerpt %}
{{ latest.data.page.excerpt | renderTemplate | markdown }}
<p>[<a href="{{ latest.url }}">continue reading...</a>]</p>
{% else %}
{{ latest.templateContent }}
{% endif %}
      </article>
      {% endif %}
    </section>
  </aside>
</div>
