---
layout: base.liquid
---

<section>
  <table class="bordered">
    <tr><th>Name:</th><td>{{ title }}{% if acronym %} ({{ acronym }}){% endif %}</td></tr>
    <tr><th>URL:</th><td><a href="{{ url }}">{{ url }}</a></td></tr>
{% if location %}
    <tr><th>Location:</th><td>{{ location }}</td></tr>
{% endif %}
  </table>
</section>

{% if coverImage %}
<section>
  <img class="org-cover-image" src="{{ coverImage }}" alt="{{ title }}">
</section>
{% endif %}

<section>
  {{ content }}
</section>
