---
title: News
weight: 10
tags:
- page
---

{% assign sorted_posts = collections.post | reverse %}
{% for post in sorted_posts %}
<article>
  <header>
    <h2><a href="{{ post.url }}">{{ post.data.title }}</a></h2>
    <p class="byline">by {{ post.data.author }} at <time datetime="{{ post.date | date: "%Y-%m-%d"}}">{{ post.date | date: "%Y-%m-%d" }}</time></p>
  </header>

{% if post.data.page.excerpt %}
{{ post.data.page.excerpt | renderTemplate | markdown }}
<p>[<a href="{{ post.url }}">continue reading...</a>]</p>
{% else %}
{{ post.templateContent }}
{%endif %}
</article>
{% endfor %}
